apiVersion: v1
kind: Service
metadata:
  name: sample-service-app
  labels:
    app: sample-service
spec:
  selector:
    app: sample-service
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
  type: ClusterIP
